.contactLogo{
    text-align: center;
    color: lightgrey;
    margin-top: 65px;
    width: 75%;
    height: auto;
    left: 40%;
    margin-left: 12.5%;
    margin-bottom: 50px;
}

.contact-us{
    height: 94vh;
}

