.contactLogo{
    color: lightgrey;
    width: 100%;
    transform: translate(-50%, -50%);
    top: 25%;
    left: 50%;
    position: fixed;
}

.contact-us{
    height: calc(100vh - 32px);
    
}

.sendButton{
    margin-left: calc(50% - 40px);
    width: 80px;
}

.paragraph{
    transform: translate(-50%, -50%);
    top: 55%;
    left: 50%;
    position: fixed;
    text-align: justify;
    text-justify: auto;
    color: lightgrey;
    width: 800px;
    font-size: 1.25rem;
}

.contactField{
    margin-bottom: 48px;
}



