.contactLogo{
    text-align: center;
    color: lightgrey;
    margin-top: 75px;
    width: 50%;
    height: auto;
    left: 20%;
    margin-left: 25%;
    margin-bottom: 50px;
}

.contact-us{
    height: 88vh;
}

.sendButton{
    margin-left: calc(50% - 40px);
    width: 80px;
}