.main{
    padding: 20px;
    position: absolute;
    top: auto;
    left:20%;
    background-color: whitesmoke;
    outline: 1px solid lightgrey;
    width: 75%;
    text-align: center;
}

.body{
    padding: 25px;
    
}


.app-logo{
    position: relative;
    top: 0;
    left: 0;
}

.top{
    left: 50px;
    padding: 5px;
    text-align: left;
}

.link{
    padding: 10px;
}

.panel{
    text-align: left;
    background-color:#e8e8e8;
    padding: 10px;
    border-bottom: 3px solid #c5c3c3;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    margin: 30px;
    border-right:3px solid #c5c3c3 ;
    border-right: 3px solid #c5c3c3;
    
}



.bizpic{
    width: 300px;
    height: auto;
    margin-left: 5px;
    vertical-align: middle;
    margin-bottom: 5px;
    
}

.functionality{
    top: 0px;
    left: 0px;
    background-color: khaki;
    width: 200px;
    height: auto;
    text-align: center;
    padding: 5px;
    
}

.topbord {
    top:0px;
    left:0px;
    width:100%;
    height:50px;
    background-color:lightgrey;
    outline:2px solid rgb(144, 144, 144);
    font-family:cursive;
    margin-bottom:10px;
}





