

.infographic{
    padding: 10px;
    width: 50%;
    z-index: 1;
    margin-top: -100px;
}

.bannerRecruit{
    top: -20%;
    left: 0;
    z-index: 0;
    position: absolute;
    opacity: 1;
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: auto;
    width: auto;
    min-width: 100%;
    min-height: 100%;
}

.information{
    height: 38px;
    position: relative;
    width: 10px;
    margin-left: -40px;
    margin-top: 15px;
}

.information .infoText{
    visibility: hidden;
    box-shadow: 0 0 3px black;
    background-color: white;
    padding: 10px;
    position: relative;
    z-index: 1;
    overflow: visible;
    width: 250px;
    margin-top: -500%;
    margin-left: 750%;
    border-radius: 20px;
    text-align: left;
}

.information:hover .infoText{
    visibility: visible;
}

.intro{
   margin: auto;
}

.logo{
    margin-bottom: 0px;
}

.formBox{
    position: relative;
    background-color: white;
    color: black;
    padding: 50px;
    width: 60%;
    margin-top: 50px;
    border-radius: 20px 20px 20px 20px;
    border-bottom: 3px solid #c5c3c3;
    border-right:3px solid #c5c3c3 ;
    transform: translate(33%, 0%);
    margin-bottom: 50px;
}

.descriptionParagraph{
    text-align: justify;
    text-justify: auto;
    font-size: 17.5px;
}

.descriptionSignature{
    text-align: left;
    font-size: 17.5px;
}

.descriptionBox{
    position: relative;
    background-color: white;
    color: black;
    padding: 50px;
    width: 60%;
    margin-top: 50px;
    border-radius: 20px 20px 20px 20px;
    border-bottom: 3px solid #c5c3c3;
    border-right:3px solid #c5c3c3 ;
    transform: translate(33%, 0%);
    margin-bottom: 50px;
}

h1{
    padding-bottom: 5px;
}

.singleInput{
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.singleInput input{
    margin: 0;
    z-index: 0;
    width:  80% !important;
}
.singleInput label{
    margin: 0;
    z-index: 0;
    width:  20% !important;
    padding: 0;
}


