.imageLogo {
    width: 50px;
    height: 50px;
    float: left;
}

.resourcesPostTitle {
    display: inline-block;
}

.panel-heading {
    text-align: center;
}

.panel-resources {
    min-height: 300px;
    padding: 20px;
}

.resources-panel-container:first-child{
    padding-top: 8vh;
}

.resources-panel-container:last-child{
    padding-bottom: 4vh;
}
