.title{
    height: auto;
    width: 75%;
    transform: translate(-50%, -50%);
    top: 20%;
    left: 50%;
    position: fixed;
}

.aboutParagraph{
    text-align: justify;
    text-justify: auto;
    color: lightgrey;
    width: 800px;
    font-size: 1.25rem;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 50%;
    position: fixed;
}

.about{
    height: calc(100vh - 32px);
    
}




