.title{
    text-align: center;
    margin-top: 150px;
    padding: 15px;
    margin-bottom: 15px;
}

.paragraph{
    align-content:center;
    text-align: justify;
    text-justify: auto;
    color: lightgrey;
    width: 800px;
    margin: auto;
    font-size: 1.25rem;
}

.about{
    height: 78.2vh;
}




