.app-logo{
    position: absolute;
    left: 696px;
    top: 15px;
}

.textbox{
    top: 50%;
    left: 50%;
    position: absolute;
}

.farg{
    top: 25%;
    left: 15%;
    position: absolute;
}

ul{
    list-style: none;
}

li{
    padding-right: 5px;
}

/*.row{
    background-color: lightblue;
    outline: 2px solid lightgrey;
    text-align: center;
    vertical-align: center;
}
*/

.gay{
    background: pink;
}

.thing{
    top:500px;
    left:200px;
    position: absolute;
    background-color: lightblue;
    padding: 20px;
}