.main{
    padding: 5px;
    position: absolute;
    top: auto;
    left: 10%;
    background-color: whitesmoke;
    outline: 1px solid lightgrey;
    width: 75%;
    height: 100%;
    text-align: center;
}

.body{
    padding: 25px;
}

.app-logo{
    position: relative;
    top: 0;
    left: 0;
}

.top{
    left: 50px;
    padding: 5px;
    text-align: left;
}

.link{
    padding: 10px;
}




