body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
<<<<<<< HEAD
  background-color: #e8e8e8;

=======
  /*background-image: linear-gradient(to right, #AA0047, #2400AA);*/
  /*background-image: url('./components/pages/mainpage/steve.png')*/
  /*background-image: "steve.png"*/
<<<<<<< HEAD
  background-color: white;
>>>>>>> 9f094f15b0d2a2cec759e9c8d705cb95b4c6fc98
=======
>>>>>>> 4084dd9439037e121461757b36889f1f8b361115
}

.root{
  width: 100%;
  height:  100%;
  background: linear-gradient(red, blue);
}

